<h1>Purchases</h1>

<div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Purchases</li>
    <li class="float-right">
      <a routerLink="/purchases/add" role="button">Add</a>
    </li>
  </ol>
</div>

<table *ngIf="purchases.length > 0" class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Publication</th>
      <th>User</th>
      <th>Type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Delivered</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let purchase of purchases">
      <td>{{purchase.id}}</td>
      <td>{{formatDate(purchase.transactionDate)}}</td>
      <td>{{purchase.publication.title}}</td>
      <td>{{purchase.user.name}}</td>
      <td>{{purchase.type}}</td>
      <td><span *ngIf="purchase.type == 'LOAN'">{{formatDate(purchase.startDate)}}</span></td>
      <td><span *ngIf="purchase.type == 'LOAN'">{{formatDate(purchase.endDate)}}</span></td>
      <td><span class="badge badge-{{buildLicenseDeliveredClass(purchase.licenseUuid)}}">{{purchase.licenseUuid != null}}</span></td>
      <td>
        <div *ngIf="purchase.status == 'ok'">
          <button (click)="onDownload_LCPL(purchase)"
            type="button" role="button"
            class="btn btn-secondary btn-sm">
            <i class="fa fa-download" aria-hidden="true"></i> LCPL
          </button>
          <a [routerLink]="['/purchases', purchase.id, 'status']"
            role="button"
            class="btn btn-secondary btn-sm">
            <i class="fa fa-battery-half" aria-hidden="true"></i> Status
          </a>
          <a *ngIf="purchase.type == 'LOAN' && purchase.licenseUuid != null"
            [routerLink]="['/purchases', purchase.id, 'renew']"
            class="btn btn-secondary btn-sm" role="button">
            <i class="fa fa-hourglass-end" aria-hidden="true"></i> Renew
          </a>
          <button *ngIf="purchase.type == 'LOAN' && purchase.licenseUuid != null"
              type="button" role="button"
              class="btn btn-secondary btn-sm"
              (click)="onReturn(purchase)">
            <i class="fa fa-eject" aria-hidden="true"></i> Return
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
