lcpserve
readium-lcp-server
lcpencrypt/lcpencrypt
files/
*.sqlite*
lcpserver/manage/config.js
.vscode/launch.json
debug
*.a
*.lib
*.exe
*.yaml
!test/config.yaml
**/manage/config.js
frontend/manage/node_modules/*
frontend/manage/dist/*
frontend/manage/js/*
frontend/manage/js/components/*
*.map
*.htpasswd
lcpserver/test.sqllite
.DS_Store
.vscode
lcpencrypt/.DS_Store
lcpserver/.DS_Store
npm-debug.log
manage/config.js
