lcpserve
readium-lcp-server
lcpencrypt/lcpencrypt
files/
*.sqlite*
config.yaml
.vscode/launch.json
debug
readium-lcp-server.exe
lcpencrypt/lcpencrypt.exe
*.exe
lcpserver/lcpconfig.yaml
*.yaml
lcpserver/lcpconfig.yaml
*.yaml
