lcpserve
readium-lcp-server
lcpencrypt/lcpencrypt
files/
*.sqlite*
config.yaml
.vscode/launch.json
debug
*.exe
*.yaml
static/manage/node_modules/*
static/node_modules/*
static/manage/js/*
static/manage/js/components/*
*.map
*.htpasswd
lcpserver/test.sqllite
.DS_Store
.vscode
lcpencrypt/.DS_Store
lcpserver/.DS_Store
