@import "../../node_modules/tether/dist/css/tether.min.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";


@import "app.scss";
