<h3 class="lcpResource" class="step">Listing of LCP Resources (please choose one)</h3>
<ul class="resources">
    <li *ngFor="let resource of resources" (click)="onSelect(resource)" [class.selected]="resource === selectedResource">
    <span class="anID">{{resource.id}}</span> <span class="aLabel">{{resource.location}}</span>
    <span class="aLength">{{resource.length}}</span> <span class="aSha256">{{resource.sha256}}</span>    
    </li>
</ul>  
<div class="selectedResource" *ngIf="selectedResource">
    <h3>{{selectedResource.location }}  <span class="anID"> ( {{selectedResource.id }} ) </span> </h3>
    <button class="lcpBuy" (click)="onBuy(selectedResource)">Buy link</button>
    <span>
        <label>Loan for #hours:</label>
        <input #hours />
        <button class="lcpLoan" (click)="onLoan(selectedResource, hours.value)">Loan (default= 3 weeks)</button>
    </span>
</div>      
