<div *ngIf="user">
    <h2>{{user.alias}} details!</h2>
    <div>
        <label>email: </label>{{user.email}}
    </div>
    <div>
        <label>alias: </label>
        <input [(ngModel)]="user.alias" placeholder="name"/>
        <input [(ngModel)]="user.email" placeholder="email"/>
        <input [(ngModel)]="user.password" placeholder="password"/>
        <button (click)="save()">Save</button>
    </div>
    <purchases [user]="user"></purchases>    
    <button (click)="goBack()">Back</button>
</div>
