<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="user-name">Name</label>
    <input
        id="user-name" class="form-control" placeholder="Enter user name"
        [formControl]="form.controls['name']">
  </div>
  <div class="form-group">
    <label for="user-email">Email address</label>
    <input
        id="user-email" type="email" class="form-control" placeholder="Enter email"
        [formControl]="form.controls['email']">
  </div>
  <div class="form-group">
    <label for="user-password">Password</label>
    <input
        id="user-passphrase" type="passphrase" class="form-control" placeholder="Passphrase"
        [formControl]="form.controls['password']">
  </div>
  <div class="form-group">
    <label for="user-password">Passphrase Hint</label>
    <input
        id="user-passphrase-hint" class="form-control" placeholder="Passphrase hint"
        [formControl]="form.controls['hint']">
  </div>
  <button type="submit" [disabled]="!form.valid" class="btn btn-primary">{{submitButtonLabel}}</button>
  <button type="button" (click)="onCancel()" class="btn btn-secondary">Cancel</button>
</form>
