

server {

  listen ${PORT};

  location /lcpserver/ {
    proxy_pass http://127.0.0.1:${LCP_PORT}/;
  }

  location /lsdserver/ {
    proxy_pass http://127.0.0.1:${LSD_PORT}/;
  }

  location /frontend/ {
    proxy_pass http://127.0.0.1:${FRONTEND_PORT}/;
  }

}
