<h2>1. Subscribe or select user</h2>
<div>
    <label>Alias:</label><input #alias />
    <label>Email:</label><input #email />
    <label>Password:</label><input #password />
    <button (click)="add(alias.value, email.value, password.value);alias.value='';email.value='';password.value='';">
        add
    </button>
</div>
<h3>User list</h3>
<ul class="users">
    <li *ngFor="let user of users" (click)="onSelect(user)" [class.selected]="user === selectedUser">
    <span class="anID">{{user.userID}}</span> <span class="aLabel">{{user.alias}}</span>
    <button class="delete" (click)="delete(user); $event.stopPropagation()">x</button>
    </li>
</ul>  
<div class="selectedUser" *ngIf="selectedUser">
    <h2>2. Select item for license</h2>
    <h3>Current user = {{selectedUser.alias | uppercase }} <button (click)="gotoDetail()">View Details</button> </h3>
    <resources></resources>    
</div>      
