lcp_base_url: "http://127.0.0.1:8989"
lsd_base_url: "http://127.0.0.1:8990"
certificate:
             cert: /home/banux/certs/lcp.crt
             private_key: /home/banux/certs/lcp.pem
storage:
         filesystem:
                      directory: /home/www/files
license:
         links:
                      hint: "http://example.com/hint" 
                      status: "http://example.com/licenses/{license_id}/status" 
localization: 
        languages: ["ru-RU", "en-US"]
        folder: E:\GoProjects\src\github.com\readium\readium-lcp-server\messages\
        default_language: "en-US"
static:
    directory: "../static"
lcp:
    host: "localhost"
    port: 8989
    readonly: false
    public_base_url:  "http://127.0.0.1:8989"
    database: "sqlite3://file:test.sqlite?cache=shared&mode=rwc"
                 